/* Import base styles */
@import url('base.css');

.container2 {
    background-color: #aed2f8; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 15px auto;
    max-width: 800px;
    text-align: center; 
}

.container2 h2{
    color: #2f4064;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.feature-list {
    margin-bottom: 15px;
    text-align: left; 
}

.feature-list li {
    list-style-type: disc; 
    margin-left: 20px;
    text-align: left; 
}

.about-heading {
    font-size: 2.0rem; 
    color: #0c0f15; 
    margin-bottom: 20px;
}

.faq-list {
    margin-top: 20px;
}

.faq-list h2 {
    color: #2f4064;
    font-size: 1.0rem;
    margin-bottom: 10px;
}

.faq-list p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.container2 ul {
    text-align: left; 
}

.container2 ul li {
    list-style-type: disc; 
    margin-left: 20px; 
    text-align: left;
}

.back-button-container {
    margin-top: 20px;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #11798e;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.back-button:hover {
    background-color: #240f5d; 
}
